openapi: 3.1.1
info:
  version: 1.0.0
  title: Braintrust Acls SpanIframes API
  description: 'API specification for the backend data server. The API is hosted globally at

    https://api.braintrust.dev or in your own environment.


    You can access the OpenAPI spec for this API at https://github.com/braintrustdata/braintrust-openapi.'
  license:
    name: Apache 2.0
servers:
- url: https://api.braintrust.dev
security:
- bearerAuth: []
- {}
tags:
- name: SpanIframes
paths:
  /v1/span_iframe:
    post:
      tags:
      - SpanIframes
      security:
      - bearerAuth: []
      - {}
      operationId: postSpanIframe
      description: Create a new span_iframe. If there is an existing span_iframe with the same name as the one specified in the request, will return the existing span_iframe unmodified
      summary: Create span_iframe
      requestBody:
        description: Any desired information about the new span_iframe object
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpanIFrame'
      responses:
        '200':
          description: Returns the new span_iframe object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanIFrame'
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
    put:
      tags:
      - SpanIframes
      security:
      - bearerAuth: []
      - {}
      operationId: putSpanIframe
      description: Create or replace span_iframe. If there is an existing span_iframe with the same name as the one specified in the request, will replace the existing span_iframe with the provided fields
      summary: Create or replace span_iframe
      requestBody:
        description: Any desired information about the new span_iframe object
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpanIFrame'
      responses:
        '200':
          description: Returns the new span_iframe object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanIFrame'
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
    get:
      operationId: getSpanIframe
      tags:
      - SpanIframes
      description: List out all span_iframes. The span_iframes are sorted by creation date, with the most recently-created span_iframes coming first
      summary: List span_iframes
      security:
      - bearerAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/AppLimitParam'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Ids'
      - $ref: '#/components/parameters/SpanIframeName'
      - $ref: '#/components/parameters/OrgName'
      responses:
        '200':
          description: Returns a list of span_iframe objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpanIFrame'
                    description: A list of span_iframe objects
                required:
                - objects
                additionalProperties: false
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
  /v1/span_iframe/{span_iframe_id}:
    get:
      operationId: getSpanIframeId
      tags:
      - SpanIframes
      description: Get a span_iframe object by its id
      summary: Get span_iframe
      security:
      - bearerAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/SpanIframeIdParam'
      responses:
        '200':
          description: Returns the span_iframe object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanIFrame'
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
    patch:
      operationId: patchSpanIframeId
      tags:
      - SpanIframes
      description: Partially update a span_iframe object. Specify the fields to update in the payload. Any object-type fields will be deep-merged with existing content. Currently we do not support removing fields or setting them to null.
      summary: Partially update span_iframe
      security:
      - bearerAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/SpanIframeIdParam'
      requestBody:
        description: Fields to update
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSpanIFrame'
      responses:
        '200':
          description: Returns the span_iframe object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanIFrame'
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
    delete:
      operationId: deleteSpanIframeId
      tags:
      - SpanIframes
      description: Delete a span_iframe object by its id
      summary: Delete span_iframe
      security:
      - bearerAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/SpanIframeIdParam'
      responses:
        '200':
          description: Returns the deleted span_iframe object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanIFrame'
        '400':
          description: The request was unacceptable, often due to missing a required parameter
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '401':
          description: No valid API key provided
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '403':
          description: The API key doesn’t have permissions to perform the request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '429':
          description: Too many requests hit the API too quickly. We recommend an exponential backoff of your requests
          headers:
            Retry-After:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
        '500':
          description: Something went wrong on Braintrust's end. (These are rare.)
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                nullable: true
components:
  schemas:
    SpanIframeIdParam:
      type: string
      format: uuid
      description: SpanIframe id
    SpanIFrame:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the span iframe
        project_id:
          type: string
          format: uuid
          description: Unique identifier for the project that the span iframe belongs under
        user_id:
          type: string
          nullable: true
          format: uuid
          description: Identifies the user who created the span iframe
        created:
          type: string
          nullable: true
          format: date-time
          description: Date of span iframe creation
        deleted_at:
          type: string
          nullable: true
          format: date-time
          description: Date of span iframe deletion, or null if the span iframe is still active
        name:
          type: string
          description: Name of the span iframe
        description:
          type: string
          nullable: true
          description: Textual description of the span iframe
        url:
          type: string
          description: URL to embed the project viewer in an iframe
        post_message:
          type: boolean
          nullable: true
          description: Whether to post messages to the iframe containing the span's data. This is useful when you want to render more data than fits in the URL.
      required:
      - id
      - project_id
      - name
      - url
    PatchSpanIFrame:
      type: object
      properties:
        name:
          type: string
          nullable: true
          description: Name of the span iframe
        url:
          type: string
          nullable: true
          description: URL to embed the project viewer in an iframe
        post_message:
          type: boolean
          nullable: true
          description: Whether to post messages to the iframe containing the span's data. This is useful when you want to render more data than fits in the URL.
        description:
          type: string
          nullable: true
          description: Textual description of the span iframe
    AppLimitParam:
      type: integer
      nullable: true
      minimum: 0
      description: Limit the number of objects to return
    StartingAfter:
      type: string
      format: uuid
      description: 'Pagination cursor id.


        For example, if the final item in the last page you fetched had an id of `foo`, pass `starting_after=foo` to fetch the next page. Note: you may only pass one of `starting_after` and `ending_before`'
    OrgName:
      type: string
      description: Filter search results to within a particular organization
    CreateSpanIFrame:
      type: object
      properties:
        project_id:
          type: string
          format: uuid
          description: Unique identifier for the project that the span iframe belongs under
        name:
          type: string
          description: Name of the span iframe
        description:
          type: string
          nullable: true
          description: Textual description of the span iframe
        url:
          type: string
          description: URL to embed the project viewer in an iframe
        post_message:
          type: boolean
          nullable: true
          description: Whether to post messages to the iframe containing the span's data. This is useful when you want to render more data than fits in the URL.
      required:
      - project_id
      - name
      - url
    Ids:
      anyOf:
      - type: string
        format: uuid
      - type: array
        items:
          type: string
          format: uuid
      description: Filter search results to a particular set of object IDs. To specify a list of IDs, include the query param multiple times
    EndingBefore:
      type: string
      format: uuid
      description: 'Pagination cursor id.


        For example, if the initial item in the last page you fetched had an id of `foo`, pass `ending_before=foo` to fetch the previous page. Note: you may only pass one of `starting_after` and `ending_before`'
    SpanIframeName:
      type: string
      description: Name of the span_iframe to search for
  parameters:
    Ids:
      schema:
        $ref: '#/components/schemas/Ids'
      required: false
      description: Filter search results to a particular set of object IDs. To specify a list of IDs, include the query param multiple times
      name: ids
      in: query
    EndingBefore:
      schema:
        $ref: '#/components/schemas/EndingBefore'
      required: false
      description: 'Pagination cursor id.


        For example, if the initial item in the last page you fetched had an id of `foo`, pass `ending_before=foo` to fetch the previous page. Note: you may only pass one of `starting_after` and `ending_before`'
      name: ending_before
      in: query
    AppLimitParam:
      schema:
        $ref: '#/components/schemas/AppLimitParam'
      required: false
      description: Limit the number of objects to return
      name: limit
      in: query
    OrgName:
      schema:
        $ref: '#/components/schemas/OrgName'
      required: false
      description: Filter search results to within a particular organization
      name: org_name
      in: query
      allowReserved: true
    SpanIframeIdParam:
      schema:
        $ref: '#/components/schemas/SpanIframeIdParam'
      required: true
      description: SpanIframe id
      name: span_iframe_id
      in: path
    SpanIframeName:
      schema:
        $ref: '#/components/schemas/SpanIframeName'
      required: false
      description: Name of the span_iframe to search for
      name: span_iframe_name
      in: query
      allowReserved: true
    StartingAfter:
      schema:
        $ref: '#/components/schemas/StartingAfter'
      required: false
      description: 'Pagination cursor id.


        For example, if the final item in the last page you fetched had an id of `foo`, pass `starting_after=foo` to fetch the next page. Note: you may only pass one of `starting_after` and `ending_before`'
      name: starting_after
      in: query
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key or JWT
      description: 'Most Braintrust endpoints are authenticated by providing your API key as a header `Authorization: Bearer [api_key]` to your HTTP request. You can create an API key in the Braintrust [organization settings page](https://www.braintrustdata.com/app/settings?subroute=api-keys).'
